.Box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

    transition: background-color 1s;
}

.Home {
    background: #93e2e0;
}

.Away {
    background: rgba(147, 226, 224, 0.32);
}